Repository flow-build/engine, pull requests merged in 2022-02, with the labels that each got.

#74 Feature/start process child
  package-lock.json
  package.json
  src/core/utils/requests.js
  src/core/utils/tests/unitary/requests.test.js
  src/core/workflow/nodes.js
  src/core/workflow/tests/unitary/blueprint_samples.js
  src/core/workflow/tests/unitary/node.test.js
  src/core/workflow/tests/unitary/node_samples.js
  src/engine/tests/integration/engine_processes.test.js
Labels: dependencies, configuration, feature, js, test

#79 Feature/form encoded request
  README.md
  __mocks__/axios/create.js
  __mocks__/axios/index.js
  index.js
  package-lock.json
  package.json
  src/core/utils/node_factory.js
  src/core/utils/nodefy.js
  src/core/utils/tests/unitary/node_factory.test.js
  src/core/utils/tests/unitary/nodefy.test.js
  src/core/workflow/blueprint.js
  src/core/workflow/nodes.js
  src/core/workflow/nodes/abortProcess.js
  src/core/workflow/nodes/examples/formRequest.js
  src/core/workflow/nodes/finish.js
  src/core/workflow/nodes/flow.js
  src/core/workflow/nodes/formRequest.js
  src/core/workflow/nodes/http.js
  src/core/workflow/nodes/index.js
  src/core/workflow/nodes/node.js
  src/core/workflow/nodes/parameterized.js
  src/core/workflow/nodes/scriptTask.js
  src/core/workflow/nodes/setToBag.js
  src/core/workflow/nodes/start.js
  src/core/workflow/nodes/startProcess.js
  src/core/workflow/nodes/subProcess.js
  src/core/workflow/nodes/systemTask.js
  src/core/workflow/nodes/tests/formRequest.test.js
  src/core/workflow/nodes/tests/userTask.test.js
  src/core/workflow/nodes/timer.js
  src/core/workflow/nodes/userTask.js
  src/core/workflow/nodes/utils/formRequest.js
  src/core/workflow/tests/examples/allNodeTypes.js
  src/core/workflow/tests/unitary/blueprint.test.js
  src/core/workflow/tests/unitary/node.test.js
  src/engine/tests/integration/engine_processes.test.js
  src/engine/tests/unitary/engine.test.js
  src/engine/tests/utils/extra_nodes.js
Labels: dependencies, configuration, feature, doc, js, test

#81 chore(release): 2.6.0
  package-lock.json
  package.json
Labels: dependencies, configuration

#82 Feature/fetch workflow by version
  docker-compose.yml
  package-lock.json
  src/cockpit/cockpit.js
  src/core/persist/knex.js
  src/core/workflow/tests/unitary/blueprint.test.js
  src/core/workflow/tests/unitary/blueprint_samples.js
  src/core/workflow/tests/unitary/workflow.test.js
  src/core/workflow/workflow.js
  src/engine/engine.js
  src/engine/tests/integration/engine_processes.test.js
  src/engine/tests/unitary/engine.test.js
Labels: configuration, feature, js, test

#83 chore(release): 2.7.0
  package-lock.json
  package.json
Labels: dependencies, configuration

#84 Feature/fetch state
  db/seeds/add-hash-to-workflow.js
  index.js
  package-lock.json
  package.json
  src/cockpit/cockpit.js
  src/cockpit/tests/unitary/cockpit.test.js
  src/core/persist/knex/processState.js
  src/core/persist/persist.js
  src/core/persist/provider.js
  src/core/workflow/process_state.js
  src/core/workflow/tests/unitary/blueprint.test.js
  src/core/workflow/tests/unitary/process.test.js
  src/core/workflow/tests/unitary/processState.test.js
  src/engine/tests/integration/engine_processes.test.js
Labels: dependencies, configuration, feature, js, test

#85 chore(release): 2.8.0
  package-lock.json
  package.json
Labels: dependencies, configuration
