Repository flow-build/engine, pull requests merged in 2022-08, with the labels that each got.

#110 chore(release): 2.12.0
  package-lock.json
  package.json
Labels: dependencies, configuration

#111 Feature/fbs 29 incluir info latest em fetch workflow
  README.md
  src/core/persist/knex.js
  src/core/persist/knex/process.js
  src/core/persist/knex/workflow.js
  src/core/persist/provider.js
  src/core/workflow/process.js
  src/core/workflow/tests/examples/identityUserTask.js
  src/core/workflow/tests/examples/nodeSpecs/userTaskNode.js
  src/core/workflow/tests/examples/twoUserTasks.js
  src/core/workflow/tests/unitary/process.test.js
  src/core/workflow/tests/unitary/workflow.test.js
  src/core/workflow/workflow.js
  src/engine/engine.js
  src/engine/tests/unitary/engine.test.js
Labels: feature, doc, js, test

#112 chore(release): 2.13.0
  package-lock.json
  package.json
Labels: dependencies, configuration

#114 113 issue with validation on route cockpitworkflowsvalidate
  examples/channel_restriction.js
  examples/multiple_finish_example.js
  examples/user_task_notify_example.js
  package-lock.json
  package.json
  src/core/persist/knex/process.js
  src/core/workflow/nodes/examples/userTask.js
  src/core/workflow/nodes/tests/userTask.test.js
  src/core/workflow/nodes/userTask.js
  src/core/workflow/tests/examples/nodeSpecs/userTaskNode.js
  src/core/workflow/tests/examples/notifyAndDoubleUserTasks.js
  src/core/workflow/tests/unitary/node.test.js
  src/core/workflow/tests/unitary/workflow.test.js
Labels: dependencies, configuration, js, test
