Repository flow-build/engine, pull requests merged in 2023-05, with the labels that each got.

#281 Feat/adm 179
  src/core/persist/knex/process.js
  src/core/workflow/process.js
  src/engine/engine.js
Labels: feature, js

#282 feat: adds 'getProcessStateExecutionHistory' method on cockpit
  src/cockpit/cockpit.js
  src/cockpit/tests/unitary/cockpit.test.js
Labels: feature, js, test

#283 feat: adds 'fetchStateExecutionContext' method
  src/cockpit/cockpit.js
  src/cockpit/tests/unitary/cockpit.test.js
Labels: feature, js, test

#284 Package/2.26.0
  src/cockpit/cockpit.js
  src/cockpit/tests/unitary/cockpit.test.js
  src/core/persist/knex/process.js
  src/core/workflow/process.js
  src/engine/engine.js
Labels: js, test

#285 chore(release): 2.26.0
  package-lock.json
  package.json
Labels: dependencies, configuration

#289 chore(release): 2.27.0
  package-lock.json
  package.json
Labels: dependencies, configuration

#290 feat: adds extra data to notifyProcessState input
  src/core/workflow/process.js
Labels: feature, js

#292 feat: add process_id on getProcessStateExecutionHistory cockpit method
  src/cockpit/cockpit.js
  src/cockpit/tests/unitary/cockpit.test.js
Labels: feature, js, test

#297 feat: add possible extract parameter on node spec
  src/core/workflow/nodes/node.js
  src/core/workflow/nodes/startProcess.js
  src/core/workflow/nodes/subProcess.js
  src/core/workflow/nodes/userTask.js
  src/core/workflow/tests/examples/extractNodeBlueprint.js
  src/core/workflow/tests/unitary/blueprint_samples.js
  src/engine/tests/integration/engine_processes.test.js
Labels: feature, js, test

#296 feat: add possible _extract parameter on blueprint_spec
  src/core/utils/ajvValidator.js
  src/core/workflow/blueprint.js
  src/core/workflow/nodes/node.js
  src/core/workflow/nodes/startProcess.js
  src/core/workflow/nodes/subProcess.js
  src/core/workflow/nodes/userTask.js
  src/core/workflow/tests/examples/extractBlueprint.js
  src/core/workflow/tests/examples/extractNodeBlueprint.js
  src/core/workflow/tests/unitary/blueprint.test.js
  src/core/workflow/tests/unitary/blueprint_samples.js
  src/engine/tests/integration/engine_processes.test.js
Labels: feature, js, test

#299 chore(release): 2.30.0
  package-lock.json
  package.json
Labels: dependencies, configuration

#291 Feature/flow 71 environment variables table
  db/migrations/20230516151924_create_environment_variable_table.js
  src/cockpit/cockpit.js
  src/cockpit/tests/unitary/cockpit.test.js
  src/cockpit/tests/unitary/cockpitUtils.js
  src/core/persist/knex.js
  src/core/persist/knex/environmentVariable.js
  src/core/persist/provider.js
  src/core/workflow/blueprint.js
  src/core/workflow/environment_variable.js
  src/core/workflow/process.js
  src/core/workflow/tests/examples/environment.js
  src/core/workflow/tests/unitary/blueprint.test.js
  src/core/workflow/tests/unitary/environment_variable.test.js
  src/core/workflow/tests/unitary/workflow.test.js
  src/core/workflow/workflow.js
  src/engine/engine.js
Labels: feature, js, test

#301 chore(release): 2.31.0
  package-lock.json
  package.json
Labels: dependencies, configuration

#302 chore(release): 2.31.1
  package-lock.json
  package.json
Labels: dependencies, configuration

#300 feat: improvements on node's extract property
  src/core/workflow/blueprint.js
  src/core/workflow/nodes/finish.js
  src/core/workflow/nodes/http.js
  src/core/workflow/nodes/node.js
  src/core/workflow/nodes/start.js
  src/core/workflow/nodes/tests/node.test.js
  src/core/workflow/nodes/timer.js
  src/core/workflow/nodes/userTask.js
  src/core/workflow/tests/unitary/blueprint.test.js
  src/engine/tests/integration/engine_processes.test.js
Labels: js, test

#303 chore(release): 2.32.0
  package-lock.json
  package.json
Labels: dependencies, configuration
